nav li img{
    height: 40px;
}

.headerBg{
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/bg_home.svg);
    background-position: top 0 right 0;
    background-repeat: no-repeat;
    background-size: contain 62.23% 56.22%;
}

.headerImg{
    width: 45.085%;
    height: auto;
    padding: 0px 0px 116px 178.36px;
}