*, *:before, *:after {
    box-sizing: border-box;
 }
 img{
    max-width: 100%;
    height: auto;
}

.wrapper{
    max-width: 1366px;
    margin: 0 auto;
}

.bdWidth{
    max-width: 79.439%;
    margin: 0 auto;
}
