*, *:before, *:after {
    box-sizing: border-box;
 }
 img{
    max-width: 100%;
    height: auto;
}

.wrap{
    margin: 0 auto
}

.container{
    max-width: 81.99%;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}
