.platformList{
    margin-bottom: 100px;
    li{
        img{
            max-width: 90px;
        }
    }
}

.service{
    margin-bottom: 100px;
}

.wayCard{
    margin-bottom: 100px;
    li{
        width: 50%;
        img{
            max-width: 52px;
        }
    }
}

.wayImg {
    width: 86px;
    height: 86px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 2px 10px #00000014;
            box-shadow: 0px 2px 10px #00000014;
        }

.evaluation{
    img{
        max-width: 80px;
        top: -60px;
        left: 32px;
    }
}

.ratingStar img {
    vertical-align: text-bottom;
  }